body, html{
    background-color: #525659 !important;
    color: white !important;
}

h1{
    margin-bottom: 20px !important;
    color: #1a3b70;
}

section{
    margin: 100px 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

div.competences{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
}

div.text-comp{
    width: 100%;
}

div.card{
    background-color: #1a3b70 !important;
    width: 60%;
}

div.card-header{
    color:#9bd2fa;
}

.card-footer a{
    text-decoration: none;
    color: #9bd2fa;
}

.comp-title a{
    text-decoration: none;
    color: white;
}